body {
    margin: 0;
    padding: 0;
    padding-top: 12px;
}

nav {
    width: 100%;
    border-bottom: #b7b7b7 0.5px solid;
}

nav ul {
    text-align: center;
    padding: 10px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 14px;
}

.overview h1 {
    text-align: center;
    font-size: 28px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 26px;
}

p {
    font-size: 20px;
    width: 100%;
    padding: 5px;
    padding-left: 15px;
    margin: 10px;
}

h3 {
    font-size: 24px;
    padding: 5px;
    padding-left: 15px;
}

ul {
    padding-left: 35px;
    margin-left: 20px;
}

li {
    font-size: 18px;
}

.overview {
    width: 100%;
    padding: 10px;
}

.overview p {
    padding-left: 0px;
    margin-left: 0px;
    text-align: center;
}

.overview .logo {
    text-align: center;
    padding: 10px;
}

.overview .screen {
    text-align: center;
    padding: 10px;
}

.overview .screen img {
    height: auto;
}

.content {
    width: 100%;
    padding: 100px;
    padding-top: 50px;
    box-sizing: border-box;
}

.content .requirements {
    display: flex;
    height: 260px;
    padding-bottom: 20px;
}

.content .requirements .requirements-text {
    flex: 1;
}

.content .requirements .requirements-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.content .requirements .requirements-image img {
    scale: 0.7;
}

.content code {
    font-size: 15px;
    width: 100%;
    padding: 3px;
    padding-left: 60px;
    margin: 10px;
}

.general-infos {
    width: 100%;
    padding: 20px;
    text-align: center;
}

.history-title {
    width: 100%;
    text-align: center;
    padding: 20px;
}

.history {
    width: 100%;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    text-align: center;
}

.history .history-text {
    flex: 1;
    text-align: left;
}

.history .history-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.history .history-image img {
    width: 70%;
}

.technical {
    width: 100%;
    padding: 80px;
    padding-top: 30px;
    box-sizing: border-box;
}

.technical .ecs,
.technical .network,
.technical .raylib {
    display: flex;
    width: 100%;
}

.technical .ecs .ecs-text,
.technical .network .network-text,
.technical .raylib .raylib-text {
    flex: 1;
    text-align: left;
}

.technical .ecs .ecs-image,
.technical .network .network-image,
.technical .raylib .raylib-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.technical .raylib .raylib-image img {
    scale: 0.7;
}

.protocol {
    width: 100%;
    padding: 80px;
    padding-top: 30px;
    box-sizing: border-box;
}

.changelogs {
    width: 100%;
    padding: 80px;
    padding-top: 30px;
    box-sizing: border-box;
}

.about {
    width: 100%;
    padding: 80px;
    padding-top: 30px;
    box-sizing: border-box;
    text-align: center;
}

.about p {
    padding-left: 0px;
    margin-left: 0px;
}

.about ul {
    text-align: center;
    padding-left: 0px;
    margin-left: 0px;
}

.about ul li {
    padding-top: 10px;
    display:block;
}

.ecs-image img {
    width: 60%;
    height: auto;
}

.network-image img {
    width: 65%;
    height: auto;
}